<p>matdialog works!</p>

<div>
    <h1>
        simpal dialog box
    </h1>
    <button mat-raised-button (click)="openDialog()">Open dialog</button>
</div>
<div>
    <h1>
        dialog box with scrollable content and action
    </h1>
    <button mat-raised-button (click)="openDialog2()">Open dialog</button>
</div>
<!-- <div>
    <h2>dialog with data</h2>
    <ol>
        <li>
          <mat-form-field >
            <mat-label>What's your name?</mat-label>
            <input matInput [(ngModel)]="name">
          </mat-form-field>
        </li>
        <li>
          <button mat-raised-button (click)="openDialog3()">Pick one</button>
        </li>
        <li *ngIf="animal">
          You chose: <i>{{animal}}</i>
        </li>
      </ol>
</div> -->