<p>mat-tabs works!</p>

<mat-tab-group animationduration="200ms" selectedindex="1">

    <mat-tab>
        <ng-template mat-tab-label>
        <mat-icon>home</mat-icon> Home
        </ng-template>
        <h2>home</h2>
        <p>this is home tab of mat-tab</p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>abouts</mat-icon> About
        </ng-template>
        <h2>about</h2>
        <p>this is about tab of mat-tab</p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon> Setting
        </ng-template>
        <h2>setting</h2>
        <p>this is setting tab of mat-tab</p>
    </mat-tab>
    <mat-tab label="Short tab">
        <div class="example-small-box mat-elevation-z4">
          Small content
        </div>
      </mat-tab>
      <mat-tab label="Long tab">
        <div class="example-large-box mat-elevation-z4">
          Large content
        </div>
      </mat-tab>
 
   
 
 </mat-tab-group>